.layout-columns {
  display: flex;
  height: 100%;
  background-color: var(--hooks-colorBgContent);
  .logo {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    height: 60px;
    overflow: hidden;
    .logo-img {
      width: 34px;
      height: 34px;
      object-fit: contain;
    }
    .logo-text {
      font-size: 18px;
      font-weight: 600;
      line-height: 18px;
      color: var(--hooks-colorTextSider);
      letter-spacing: 0.5px;
      white-space: nowrap;
    }
  }
  .sider-split {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    width: 70px;
    height: 100%;
    background-color: var(--hooks-colorBgSider);
    border-right: 1px solid var(--hooks-colorBorderSider);
    .menu-list {
      flex: 1;
      overflow: auto;
      .menu-item {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 4px;
        margin: 8px 6px;
        color: var(--hooks-colorTextSecondarySider);
        cursor: pointer;
        border-radius: 6px;
        transition: all 0.2s ease;
        .anticon {
          margin: 13px 0 4px;
          font-size: 16px;
          line-height: 16px;
        }
        .title {
          width: 100%;
          margin: 0 0 11px;
          font-size: 12px;
          line-height: 20px;
          text-align: center;
        }
      }
      .menu-active {
        color: #ffffff;
        background-color: var(--hooks-colorPrimary);
      }
    }
  }
  .not-sider {
    width: 0 !important;
    min-width: 0 !important;
    max-width: 0 !important;
  }
  .ant-layout-sider {
    background-color: var(--hooks-colorBgSider);
    transition: all 0.25s ease;
    .ant-layout-sider-children {
      display: flex;
      flex-direction: column;
      height: 100%;
      border-right: 1px solid var(--hooks-colorBorderSider);
      .ant-menu-root {
        flex: 1;
        width: 100%;
        overflow-y: auto;
        background-color: var(--hooks-colorBgSider);
        border-right: none;
      }
    }
  }
}
