/* fade */
.fade-enter,
.fade-appear {
  opacity: 0;
  transform: translateX(-40px);
}
.fade-enter-active,
.fade-appear-active,
.fade-exit-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.3s ease-in-out;
}
.fade-exit {
  opacity: 0;
  transform: translateX(40px);
}

@keyframes fade-slide-in {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.keep-alive-item.keep-alive-enter {
  animation: fade-slide-in 0.3s ease-in-out;
}
