.keep-alive-item {
  box-sizing: border-box;
  padding: 20px;
  &:not(.is-active) {
    position: absolute;
    inset: 0;
    z-index: 0;
    visibility: hidden;
    overflow: hidden;
    pointer-events: none;
  }
  &.is-active {
    position: relative;
    z-index: 1;
  }
}
