.layout-transverse {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--hooks-colorBgContent);
  .app-header-bar {
    justify-content: flex-start;
    padding: 0 20px 0 12px;
    .tool-bar-ri {
      margin-left: auto;
    }
    .logo {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      height: 60px;
      margin-right: 24px;
      .logo-img {
        width: 30px;
        height: 30px;
      }
      .logo-text {
        margin: 0 0 0 6px;
        font-size: 18px;
        font-weight: 600;
        line-height: 18px;
        color: var(--hooks-colorTextHeader);
        white-space: nowrap;
      }
    }
    .ant-menu-horizontal {
      display: flex;
      flex: 1;
      align-items: center;
      min-width: 0;
      overflow: hidden;
      background-color: transparent;
      border-bottom: none;
      > *::after {
        display: none;
      }
      .ant-menu-overflow-item {
        display: flex;
        align-items: center;
        height: 36px;
        padding: 0 12px;
        border-radius: 6px;
      }
      .ant-menu-item-selected,
      .ant-menu-submenu-selected {
        color: #ffffff;
        background-color: var(--hooks-colorPrimary);
        .ant-menu-submenu-title {
          color: #ffffff;
        }
      }
    }
  }

  @media screen and (max-width: 700px) {
    .logo {
      display: none !important;
    }
  }
}
