/* toolBar left */
.tool-bar-lf {
  display: flex;
  align-items: center;
  padding-right: 50px;
  overflow: hidden;
  .collapsed {
    margin-right: 4px;
  }
  .ant-breadcrumb {
    margin-left: 8px;
    font-size: 14px;
    color: var(--hooks-colorTextSecondaryHeader);
    white-space: nowrap;
    ol {
      flex-wrap: nowrap;
      li:last-child {
        color: var(--hooks-colorTextHeader);
      }
      .ant-breadcrumb-separator {
        color: var(--hooks-colorTextSecondaryHeader);
      }
      .ant-breadcrumb-link {
        a {
          color: var(--hooks-colorTextSecondaryHeader);
          &:hover {
            color: var(--hooks-colorTextHeader);
            background-color: var(--hooks-colorTextHoverHeader);
          }
        }
      }
      .ant-breadcrumb-overlay-link {
        color: var(--hooks-colorTextSecondaryHeader);
        &:hover {
          color: var(--hooks-colorTextHeader);
          background-color: var(--hooks-colorTextHoverHeader);
        }
      }
    }
  }
}

/* toolBar right */
.tool-bar-ri {
  display: flex;
  flex-shrink: 0;
  gap: 10px;
  align-items: center;
  height: 60px;
  line-height: normal;
  .avatar {
    cursor: pointer;
  }
}

@keyframes hooks-rotate180 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes hooks-expand {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes hooks-shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.setting-btn:hover svg {
  animation: hooks-rotate180 0.5s;
}
.full-screen-btn:hover svg {
  animation: hooks-expand 0.6s forwards;
}
.exit-full-screen-btn:hover svg {
  animation: hooks-shrink 0.6s forwards;
}

@media screen and (max-width: 640px) {
  .tool-bar-ri .ant-avatar {
    width: 26px !important;
    height: 26px !important;
  }
}

/* Search Menu */
.search-modal {
  .menu-list {
    max-height: 510px;
    margin-top: 15px;
    overflow: auto;
    .menu-item {
      position: relative;
      display: flex;
      align-items: center;
      height: 46px;
      padding: 0 20px;
      margin: 10px 0;
      color: var(--hooks-colorTextSecondary);
      cursor: pointer;
      background-color: transparent;
      border: 1px solid var(--hooks-colorBorder);
      border-radius: calc(var(--hooks-borderRadius) * 1px);
      transition: all 0.2s ease;
      .menu-icon {
        margin-right: 8px;
        font-size: 16px;
      }
      .menu-title {
        font-size: 14px;
      }
      .menu-enter {
        position: absolute;
        right: 20px;
        font-size: 16px;
      }
    }
    .menu-active {
      color: #ffffff;
      background-color: var(--hooks-colorPrimary);
      .menu-icon {
        font-size: 18px;
      }
      .menu-title {
        font-size: 16px;
      }
      .menu-enter {
        font-size: 20px;
      }
    }
  }
}
