.login-container {
  background-image: url('@/assets/images/login_bg.svg');
  background-size: 100% 100%;
  background-size: cover;
  .login-content {
    .switch-dark {
      position: absolute;
      top: 13px;
      right: 15px;
    }
    .login-form {
      .login-form-content {
        .ant-form-item {
          margin-bottom: 35px;
        }
        .login-form-button {
          width: 100%;
          padding-top: 5px;
          .ant-form-item-control-input-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .ant-btn {
              width: 45%;
            }
          }
        }
      }
    }
  }
}
